<div id="player">
  <div class="player_progress-bar"></div>
  <div class="d-flex  justify-content-between">
      <div>
        <div class="d-flex  align-items-center player_controls__wrapper">
          <img class="control-item" src="assets/img/controls/play-button.png" alt="play"/>
          <img  class="control-item  icon-flipped"  src="assets/img/controls/rewind.png" alt="next"/>
          <img  class="control-item" src="assets/img/controls/heart.png" alt="sound"/>
        </div>
      </div>
      <div></div>
      <div class="d-flex  align-items-center player_controls__wrapper">
        <img class="control-item" src="assets/img/controls/shuffle.png" alt="settings"/>
        <img class="control-item" src="assets/img/controls/adjustment.png" alt="settings"/>
        <img  class="control-item"  src="assets/img/controls/shuffle.png" alt="random"/>
        <img  class="control-item" src="assets/img/controls/speaker.png" alt="sound"/>
      </div>
  </div>
</div>
