<header>
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
        <div id="logo" class="d-flex  align-items-center justify-content-center">
          <a href="#">
            Self Music
          </a>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="header_second  d-lg-flex  align-items-center">
          <div class="header_nav">
            <ul class="header_nav-list">
              <li>
                <a [routerLink]="['/home']" [class.selected]="path === 'home'">Home</a>
              </li>
              <li>
                <a [routerLink]="['/podcasts']" [class.selected]="path === 'podcasts'">Podcasts</a>
              </li>
              <li>
                <a [routerLink]="['/radio']" [class.selected]="path === 'radio'">Radio</a>
              </li>
              <li>
                <a [routerLink]="['/collection']" [class.selected]="path === 'collection'">Collection</a>
              </li>
            </ul>
          </div>
          <div>
            <div class="header_search-second">
              <img src="assets/img/svg/search.svg" alt="search"/>
            </div>
          </div>
          <div class="header_profile">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
