header
  #logo
    a
      font-size: 30px
      color: #fff

  .header
    &_second
      display: flex
      justify-content: space-between

      .header_nav-list
        margin: 0
        padding: 0
        display: flex
        li
          list-style: none
          a
            padding: 30px 15px
            transition: all .3s
            display: inline-block
            &:hover
              color: #9A0680


      .header_search-second
        cursor: pointer
        transition: all .4s
        &:hover
          opacity: .5

  a
    color: rgba(255, 255, 255, 0.5)
    text-decoration: none
