<div class="container">
  <div class="row">
    <div class="main__wrapper">
      <div class="col-12">
        <h1 class="d-none">Collection</h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="profile__wrapper">
              <img class="img_profile" src="assets/img/svg/user-profile.svg" alt="Profile"/>
            </div>
          </div>
          <div class="col-sm-12 col-lg-8">
            <div class="collection_top-bar">
              <h3>My collection</h3>
              <h2>some_email@yahoo.com</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="collection_main">
            <ul class="type_list">
              <li class="item" style="background-color: #3bc251;">
                Playlist day
              </li>
              <li class="item" style="background-color: #c939f4;">
                Remember
              </li>
              <li class="item" style="background-color: #0971ef;">
                Podcasts
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
