<div class="container">
  <div class="row">
    <div class="main__wrapper">
      <div class="col-12">
        <h1>Главная </h1>
      </div>
      <ul class="type_list">
        <li class="item" style="background-color: #3bc251;">
          Плейлист дня
        </li>
        <li class="item" style="background-color: #c939f4;">
          Дежавю
        </li>
        <li class="item" style="background-color: #0971ef;">
          Подкасты
        </li>


      </ul>
    </div>
  </div>
</div>
<app-player></app-player>
